h1 {
    font-size: 25px;
    padding-left: 10px;
    border-left: 5px sulid #0078d7;
    border-bottom: sulid 1px #ccc;
}
header {
    background-color: #81B2E9;
}
body {
    background-image: url('back/back.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}
aside {
    width: 300px;
    height: 100%;
    margin-right: 0;
    float: right;
    margin: 0 0 0 auto;
    background-color: #DDDDDD;
}
html {
    height: 100%;
}
h2 {
    font-size: 20px;
    padding-left: 10px;
    background-color: #aaa;
    border-left: solid 5px #d77800;
    border-bottom: solid 2px #d77800;
}
h3 {
    font-size: 15px;
    padding-left: 7px;
    background-color: #888;
    border-left: solid 3px blue;
    border-bottom: solid 1px blue;
}
main {
    background-color: rgb(255 255 255 / 50%);
    width: 85%;
    padding: 1em;
    border-right: solid 2px #000;
}
aside {
    background-color: rgb(255 255 255 / 50%);
    width: 15%;
    padding: 1em;
}
.content {
    flex: 1;
    display: flex;
}
footer {
    background-color: #000000;
    height: 100px;
    color: white;
}
thead {
    background-color: #CCC;
}
.dropdown {
  position: relative;
  display: inline-block;
  background-color: #72FF00;
  font-size: 17px;
  padding-left: 3.65rem;
  padding-right: 3.65rem;
  border: solid 3px yellow;
}  
.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  background-color: #56BF00;
  min-width: 96px;
  box-shadow: 0px 5px 10px 0px rgba(29, 66, 0, 0.2);
  padding: 7px 10px;
  z-index: 1;
}
.dropdown a {
    text-decoration: none;
    color: black;
}
.dropdown-content a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 0px;
    padding: 0px;
    border-top: solid 2px lightgreen;
    border-bottom: solid 2px lightgreen;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.audio_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #6f6f6f;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.audio_btn:hover {
    background-color: #ef427e;
}